.header {
  display: flex;
  height: 80px;
  box-shadow: 0px 3px 3px black;
}

.main-title {
  background-color: rgb(39, 15, 126);
  color: white;
  font-size: 16px;
  padding: 6px 40px;
  margin-left: 10px;
}
