*{
  opacity: 1 !important;
}
.header {
  display: flex;
  height: 80px;
  box-shadow: 0px 3px 3px black;
}

.main-title {
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  padding: 6px 40px;
  margin-left: 10px;
}
.title{
  font-size: 16px;
  padding: 6px 40px;
  margin-left: 10px;
}
.MuiAppBar-colorPrimary{
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.MuiTab-wrapper{
  color: gray;
}
@media screen and (max-width: 450px){
  .header{
    display: inline-flex;
  }
}
