*{
  opacity: 1 !important;
}
.header {
  display: flex;
  height: 80px;
  box-shadow: 0px 3px 3px black;
}

.main-title {
  background-color: rgb(39, 15, 126);
  color: white;
  font-size: 16px;
  padding: 6px 40px;
  margin-left: 10px;
}
.title{
  background-color: rgb(39, 15, 126);
  color: white;
  font-size: 16px;
  padding: 6px 40px;
  margin-left: 10px;
}
.MuiAppBar-colorPrimary{
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.MuiTab-wrapper{
  color: rgb(255, 255, 255);
}

.MuiTabs-scroller {
  position: inherit !important;
}
