.main-page__container,.author-of-the-day-container   {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;

}

.main-page__container {
  flex-direction: column;
}

.main-page__header, .author-of-the-day__header {
  font-size: 2rem;
  margin: 1vw 0;
}

.main-page__header {
  text-align: center;
}

.main-page__description, .author-of-the-day__text-info{
  padding: 30px 0;
  font-size: 1.2rem;
}

.main-page__text, .author-of-the-day__text-info {
  text-indent: 1.5rem;
}


.author-of-the-day-container {
  display: flex;
  box-shadow: -5px 5px 10px #cfcfd1;
  margin: 2vw auto;
  padding-top: 20px;
  box-sizing: border-box;
}

.author-of-the-day__text {
  width: 60%;
  padding-left: 20px;
}

.author-image-container {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 40%;
}

.author-of-the-day-image {
  width: 100%;
  max-width: 250px;
  min-width: 180px;
  height: 100%;
  max-height: 250px;
  min-height: 180px;
  padding-left: 20px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .author-of-the-day-container {
    flex-wrap: wrap;
  }

  .author-of-the-day__text {
    width: 90%;
  }

  .author-image-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
    justify-content: center;
  }
  .author-of-the-day-image {
    padding: 0;
  }

}



.author-of-the-day-block-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
}


