div.author-info-container   {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

h2.author-info-container__name {
  margin: 1vw 0;
  font-size: 3rem;
}

p.author-info-container__text-info{
  padding: 30px 0;
  font-size: 1.2rem;
}

p.author-info-container__text-info {
  text-indent: 1.5rem;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

div.author-info-container {
  display: flex;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-shadow: -5px 5px 10px #cfcfd1;
  margin: 2vw auto;
  padding-top: 20px;
  box-sizing: border-box;
}

h3.author-info-container__header, h2.author-info-container__name {
  mix-blend-mode: normal;
}

p.author-info-container__text-info, h3.author-info-container__header, h2.author-info-container__name {
  letter-spacing: 0.15px;
}

h3.author-info-container__header {
  font-size: 1.9rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2rem;
  height: 28px;
}

h2.author-info-container__name {
  height: 67px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
}

.author-info-container__description {
  width: 60%;
  padding-left: 20px;
}



button.author-info-container__description__button {
  background: #3F51B5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 22px;
}


div.author-info-image-container {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 40%;
}

img.author-info-image {
  width: 100%;
  max-width: 250px;
  min-width: 180px;
  height: 100%;
  max-height: 250px;
  min-height: 180px;
  padding-left: 20px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  div.author-info-container {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .author-info-container__description {
    width: 90%;
  }

  button.author-info-container__description__button {
    display: flex;
    margin: 20px auto;
  }

  div.author-info-image-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
    justify-content: center;
  }
  img.author-info-image {
    padding: 0;
  }
}
